.box1,
.box2 {
  background-color: blue;
  width: 200px;
  height: 200px;
  margin-top: 10px;
  border: 5px solid black;
  box-sizing: border-box;
  box-shadow: 10px 0px 5px black;
  padding: 20px;
  background-image: url(https://images2.thanhnien.vn/528068263637045248/2024/1/25/e093e9cfc9027d6a142358d24d2ee350-65a11ac2af785880-17061562929701875684912.jpg);
  background-position: center;
  background-repeat: no-repeat;
}
.image {
  width: 100%;
  height: 100%;
}
.fill {
  object-fit: fill;
}
.contain {
  object-fit: contain;
}
.cover {
  object-fit: cover;
}
.container {
  width: 200px;
  height: 200px;
  background-color: aquamarine;
  display: flex;

  justify-content: center;
  align-items: center;
}
